<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/resgisterPage.css">
</head>
<body>
<div class="wrap">
    <div class="Sign-up">
        <h2>회원가입</h2>

        <form method="post" required th:action="@{/members/register}" th:object="${member}">
            <div class="email">
                <label for="email">이메일</label>
                <br>
                <input id="email" th:field="*{email}" type="text"/>
            </div>
            <div class="pwd">
                <label for="pwd">비밀번호</label>
                <br>
                <input id="pwd" required th:field="*{pwd}" type="password"/>
            </div>
            <div class="pwd_check">
                <label for="pwd_check">비밀번호 확인</label>
                <br>
                <input id="pwd_check" required th:field="*{pwdCheck}" type="password"/>
            </div>
            <div class="name">
                <label for="name">성함</label>
                <br>
                <input id="name" required th:field="*{name}" type="text"/>
            </div>

            <div class="phoneNumber">
                <label for="phoneNumber">전화번호</label>
                <br>
                <input id="phoneNumber" th:field="*{phoneNumber}" type="text"/>
            </div>

            <div class="button-container">
                <button type="submit">회원가입</button>
                <button type="button">취소</button>
            </div>
        </form>
    </div>
</div>
</body>
</body>
</html>