<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!--xmlns:th="http://www.w3.org/1999/html"-->
<head>
    <meta charset="UTF-8">
    <title>ReservationForm</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .wrap {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin: 0 auto;
    }

    .reservation {
        margin: 20px 0;
    }
    #number{
        width: 30px;
    }
    .menu_box {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }
    .ordermenu_info{
        flex-grow: 3;
        width: 100px;
    }
    .ordermenu_count {
        flex-grow: 1;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .menu_count{
        width: 30px;
    }

    .reservation_number,.reservation_date,.reservation_time,.reservation_menu_list{
        margin: 20px;
    }
</style>
<body>

<div class="wrap">
    <div class="reservation">
        <h3>1. 사전 예약 페이지</h3>

        <form method="post" role="form" class="advanceForm" th:action="@{/reservation/advance/payment}" th:object="${form}">
            <div id="reservation_content">
                <div class="reservation_number">
                    <label>인원수</label>
                    <input id="number"  name="number" placeholder="인원수을 입력하세요"
                           type="number"  value="1" min="1">
                </div>

                <div class="reservation_date">
                    <label>날 짜</label>
                    <input  id="date" name="date" th:field="*{date}" placeholder="날짜를 입력하세요"
                            type="date">
                </div>

                <div class="reservation_time">
                    <label>시 간</label>
                    <select id="time" name="time">
                        <option value="">예약시간</option>
                        <option th:each="selectTime : ${T(com.restaurant.reservation.domain.enumType.ReservationTime).values()}"
                                th:text="${selectTime.name}" th:value="${selectTime.time}"></option>
                    </select>
                </div>

            </div>
        </form>

        <!-- input 한 값들을 count >0 인 것들만 form 내부로 집어넣는다??? -->
                <div th:each="menu : ${menuList}" class="reservation_menu_list">

                    <div th:id="${menu.id}" class="menu_box" >
                        <!-- count 가 0 이상일 때 → id 전달 -->
                        <input type="hidden" class="menu_id" th:value="${menu.id}" th:attr="data-menu-id=${menu.id}">
                        <input type="hidden" class="menu_name" th:value="${menu.name}" th:attr="data-menu-name=${menu.name}">
                        <input type="hidden" class="menu_price" th:value="${menu.price}" th:attr="data-menu-price=${menu.price}">

                        <div class="ordermenu_info">
                            <div class="menu_name_price">
                                <span th:text="|${menu.name} ${menu.price}원|">이름 가격</span>
<!--                                <input type="hidden" class="menu_price" th:attr="data-menu-price=${menu.price}">-->
                            </div >
                            <span th:text="${menu.intro}">intro</span>
                        </div>
                        <div class="ordermenu_count">
                            <input name=""  type="number" class="menu_count" min="0" max="8" value="0" ><!--count 전달 -->
                        </div>
                    </div>
                </div>

                <div id ="reservation_submit">
                <button type ="button" class="reservation_submit_btn" >확인</button>
                </div>

    </div>
</div>

</body>

<script>
    let now_utc = Date.now() // 지금 날짜를 밀리초로
    // getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
    let timeOff = new Date().getTimezoneOffset() * 60000; // 분단위를 밀리초로 변환
    let today = new Date(now_utc - timeOff).toISOString().split("T")[0];
    // 현재 날짜에 오프셋을 적용하고, 7일 후의 날짜를 계산하여 ISO 형식으로 변환하고, 날짜 부분만 가져옴
    let maxDate = new Date(now_utc - timeOff + 14 * 24 * 60 * 60 * 1000).toISOString().split("T")[0];
    document.getElementById("date").setAttribute("min", today);
    document.getElementById("date").setAttribute("max", maxDate);
</script>
<script >

    $(".reservation_submit_btn").on("click", function(){

        // let reservationForm = new Object();

        //  기본 입력값들 넣어줌
        let number = $("#number").val();
        let date = $("#date").val();
        let time = $("#time").val();

        if (date === "" || time === "") {
            alert("날짜를 선택해주세요.");
            return;
        } else if (time === "") {
            alert("시간을 선택해주세요.");
            return;
        }

        let totalMenuCount = 0;

        $(".reservation_menu_list").each((function (index, item) {

            let menuId = $(this).find(".menu_id").attr("data-menu-id");
            let menuName = $(this).find(".menu_name").attr("data-menu-name");
            let menuPrice = $(this).find(".menu_price").attr("data-menu-price");
            let menuCount = $(this).find(".menu_count").val();

            if (menuCount > 0) {
                let inputId = document.createElement('input');
                inputId.setAttribute("type", "hidden");
                inputId.setAttribute("name", "orderMenuList["+index+"].menuId");
                inputId.setAttribute("value", ""+menuId+"");

                let inputCount = document.createElement('input');
                inputCount.setAttribute("type", "hidden");
                inputCount.setAttribute("name", "orderMenuList["+index+"].count");
                inputCount.setAttribute("value", ""+menuCount+"");

                let inputName = document.createElement('input');
                inputName.setAttribute("type", "hidden");
                inputName.setAttribute("name", "orderMenuList["+index+"].name");
                inputName.setAttribute("value", ""+menuName+"");


                let inputPrice = document.createElement('input');
                inputPrice.setAttribute("type", "hidden");
                inputPrice.setAttribute("name", "orderMenuList["+index+"].price");
                inputPrice.setAttribute("value", ""+menuPrice+"");

                $(".advanceForm").append(inputId)
                $(".advanceForm").append(inputCount)
                $(".advanceForm").append(inputName)
                $(".advanceForm").append(inputPrice)

                totalMenuCount += parseInt(menuCount);
            }
        }));

        if (totalMenuCount < number) {
            alert("인원수 만큼 주문 하셔야합니다");
            return;
        }
        $(".advanceForm").submit();

        // reservationForm.orderMenuList = orderMenuList;

    /**
     * {
     *   "number": 2,
     *   "date": "2023-07-20",
     *   "time": "12:00",
     *   "orderMenuList": [
     *     {
     *       "id": 1,
     *       "price" : 9000
     *       "count": 2
     *     },
     *     {
     *       "id": 2,
     *       "price" : 8000
     *       "count": 1
     *     }
     *   ]
     * }*/



        // $.ajax({
        //
        //     type : 'POST',
        //
        //     url :   '/reservation/advance/add',
        //
        //     headers : { "content-type":"application/json"},
        //
        //     dataType: "text",
        //
        //     data :  JSON.stringify(reservationForm),
        //
        //     success : function(data) {
        //
        //     },
        //
        //     error : function(data) {
        //         alert("실패");
        //         console.log(data.body);
        //
        //     }
        // });
    });

</script>

</html>