<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/template/styles.css}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .wrap {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin: 0 auto;
    }

    .reservation {
        margin: 20px 0;
    }
    #number{
        width: 30px;
    }
    .menu_box {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }

    .reservation_number,.reservation_date,.reservation_time,.reservation_menu_list{
        margin: 20px;
    }

    #submit_cancel_btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .reservation_submit_btn {
        margin: 15px;
        flex: 1;
    }

    .reservation_cancel_btn {
        margin: 15px;
        flex: 1;
    }

</style>
<body>
<div class="wrap">
    <div class="reservation">
        <h3>2. 예약 확인 페이지</h3>

        <form method="post" role="form" class="paymentForm" th:action="@{/reservation/advance/add}" th:object="${advanceReservation}">
                <div id="reservation_content">

                    <div class="reservation_number">
                        <label>인원수 : </label>
                        <span  th:text="|${advanceReservation.number}명|" th:attr="data-menu-number=${advanceReservation.number}" />
                        <input  name="number" placeholder="인원수을 입력하세요"
                               type="hidden"  th:value="${advanceReservation.number}" min="1">
                    </div>

                    <div class="reservation_date">
                        <label>날 짜 : </label>
                        <span  th:text="${advanceReservation.date}" th:attr="data-menu-date=${advanceReservation.date}" />
                        <input  id="date" name="date" th:value="${advanceReservation.date}" placeholder="날짜를 입력하세요"
                                type="hidden">
                    </div>

                    <div class="reservation_time">
                        <label>시 간 : </label>
                        <span  th:text="${advanceReservation.time}" th:attr="data-menu-time=${advanceReservation.time}" />
                        <input  id="time" name="time" th:value="${advanceReservation.time}" placeholder="날짜를 입력하세요"
                                type="hidden">
                    </div>

                </div>
            </form>

        <div th:each="menu : ${orderMenuList}" class="reservation_menu_list">

            <div th:id="${menu.menuId}" class="menu_box">
                <!-- id 전달 -->
                <!--  메뉴 이름 : n개 -->
                <label th:text="|${menu.name} : |"></label>
                <input type="hidden" class="menu_id" th:value="${menu.menuId}" th:attr="data-menu-id=${menu.menuId}">
                <div class="menu_name_count">
                    <input type="hidden" class="menu_count" th:value="${menu.count}" th:attr="data-menu-count=${menu.count}">
                    <span th:text="|${menu.count}개|">이름 개수</span>
                </div >
            </div>
        </div>

        <div>
            <label>결제 금액 : </label>
            <span th:text="|${totalPrice}원|">이름 개수</span>
        </div>


        <div id ="submit_cancel_btn">
            <button  class="reservation_submit_btn btn btn-primary" >예약 확정</button>
            <button  class="reservation_cancel_btn btn btn-primary"  th:onclick="|location.href='@{/}'|">취소</button>
        </div>

    </div>

    </div>

</div>

</body>
</html>

<script >

    $(".reservation_submit_btn").on("click", function() {

        $(".reservation_menu_list").each((function (index, item) {

            let menuId = $(this).find(".menu_id").attr("data-menu-id");
            let menuCount = $(this).find(".menu_count").attr("data-menu-count");

                let inputId = document.createElement('input');
                inputId.setAttribute("type", "hidden");
                inputId.setAttribute("name", "orderMenuList[" + index + "].menuId");
                inputId.setAttribute("value", "" + menuId + "");

                let inputCount = document.createElement('input');
                inputCount.setAttribute("type", "hidden");
                inputCount.setAttribute("name", "orderMenuList[" + index + "].count");
                inputCount.setAttribute("value", "" + menuCount + "");

                $(".paymentForm").append(inputId);
                $(".paymentForm").append(inputCount);
            }));

        $(".paymentForm").submit();
    });


</script>