<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base/basicPage :: layout(~{::title},~{::link},~{::nav})}">
<head>
    <meta charset="UTF-8">
    <title>review Page</title>
    <link rel="stylesheet" th:href="@{/css/common/size.css}">
</head>

<body>

    <nav id="layoutSidenav_content" class="w-80 mx-auto">
        <main>

            <div class="container-fluid px-4">
                <h1 class="mt-4" th:data-restaurant-id="${restaurantId}" th:text="${restaurantId } + '번 레스토랑 리뷰'">리뷰 페이지입니다</h1>

                <div class="card mb-4">
                    <div class="card-body">
                        <p class="mb-0">
                            ReivewController :
                            <code>/review</code>
                        <div></div>

                        </p>
                    </div>
                </div>

                <br>


            <!-- 리뷰 리스트 넣는곳 -->

<!--                <div class="w-90 mx-auto mb-2"> &lt;!&ndash; 너비 정하는 곳&ndash;&gt; -->
                    <div class="card mb-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected value="createdDate">등록일 순</option>
                                        <option value="like">좋아요 순</option>
                                        <option value="grade">평점 높은 순</option>
                                        <option value="grade">평점 낮은 순</option>
                                        <option value="comment">댓글 순</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                <!-- 밖에 body -->
                        <div class="card-body">

                <!-- 내부 card   -->
                            <div th:each="review : ${reviewList}"  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <div  class="mb-3 d-flex justify-content-start">
                                        <h3 class="card-title">사진 </h3>
                                        <h3 class="card-title" th:text="${review.name}">이름</h3>
                                    </div>

                                    <div class="mb-3 d-flex justify-content-between">
                                        <h6 class="card-subtitle" th:text="'평점 : '+${review.grade}"></h6>
                                        <h6 class="card-subtitle" th:text="${review.createdDate}"></h6>
                                    </div>

                                    <p class="card-text mb-4" th:text="${review.content}" >
                                        리뷰 넣는곳
                                    </p>

                                    <div class="mb-2">
                                        img 넣는곳
                                    </div>

                                    <div class="mb-1 text-muted" style="padding-top: 15px;">
                                        <button type="button" class="btn btn-primary">좋아요</button>
                                        <button type="button" class="btn btn-secondary" >댓글</button>

                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="d-flex justify-content-center mb-4">
                            <div class="w-10">
                                <div class="input-group">
                                    <input type="text"  id="page-input" class="form-control" th:value="${pagination.page + 1}">
                                    <button type="button" id="move-button" class="btn btn-secondary">이동</button>
                                </div>
                            </div>
                        </div>

            <!-- 페이징 nav 넣는 곳 -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center"
                                th:with="start=${pagination.startPage},
                                            end=${pagination.endPage},
                                            naviSize=${pagination.naviSize},
                                            totalPages=${pagination.totalPages},
                                            page =${pagination.page}">

                                <li th:if="${pagination.first}" class='on page-item'>
                                        <a class='page-link' th:href="@{'/'+${restaurantId}+'/review?page=0'}" th:text="'<<'"></a>
                                </li>
                                <li th:if="${pagination.first}" class='on page-item'>
                                    <a class='page-link' th:href="@{'/'+${restaurantId}+'/review?page='+${start - 2}}" th:text="'<'"></a>
                                </li>

                                <li th:each="pos : ${#numbers.sequence(start, end)}"
                                     class='on page-item'>
                                    <a class='page-link'th:classappend="${pos - 1 == page}? 'active' : ''" th:text="${pos}" th:href="@{'/'+${restaurantId}+'/review?page='+${pos - 1}}" ></a>
                                </li>

                                <li th:if="${pagination.last}" class='on page-item'>
                                    <a class='page-link' th:href="@{'/'+${restaurantId}+'/review?page='+${start + naviSize - 1}}"   th:text="'>'"></a>
                                </li>
                                <li th:if="${pagination.last}" class='on page-item'>
                                    <a class='page-link' th:href="@{'/'+${restaurantId}+'/review?page='+${totalPages -1}}"  th:text="'>>'"></a>
                                </li>
                            </ul>
                        </nav>

                    </div>
<!--                </div>-->

<!-- 버튼 삭제 예정-->
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-danger">글삭제</a>
                        <a th:href="@{'/'+${restaurantId}+ '/review/write'}" class="btn btn-primary">글쓰기</a>
                    </div>

                </div>
<!-- 빈칸 -->
                <div style="height: 100vh">
                        <!-- 빈칸 높이 100-->
                </div>

<!--end-->
                <div class="card mb-4">
                    <div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div>
                </div>
            </div>
        </main>

        <script>

            // 검색 위치로 이동
            $('#move-button').click(function() {
                let pageInput = $('#page-input').val()-1;
                let restaurantId = [[${restaurantId}]];
                window.location.href = '/'+ restaurantId+'/review?page=' + pageInput;
            });

        </script>

    </nav>
</body>
</html>