<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!--xmlns:th="http://www.w3.org/1999/html"-->
<head>
    <meta charset="UTF-8">
    <title>ReservationForm</title>
    <link rel="stylesheet" th:href="@{/css/reservation/advanceReservation.css}">
    <link rel="stylesheet" th:href="@{/css/template/styles.css}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body>

<div class="wrap justify-content-center">
    <div class="reservation">
        <h3 class = "mt-lg-5 ">1. 사전 예약 페이지</h3>

        <hr class="my-2">

        <div class ="mt-4">
            <form method="post" role="form" class="advanceForm" th:action="@{/reservation/advance/payment}" th:object="${form}">

                <div class="row mb-3">
                    <label  class="col-sm-2 col-form-label">인원수</label>
                    <div class="reservation_number col-sm-10">
                        <input class="form-control" id="number"  name="number" th:field="*{number}" type="number"  min="0" max="8" value="0">
                    </div>
                </div>



                <div class="row mb-3">
                    <label  class="col-sm-2 col-form-label">날 짜</label>
                    <div class="reservation_date col-sm-10">
                        <input class="form-control" id="date" name="date" th:field="*{date}" placeholder="날짜를 입력하세요" type="date">
                    </div>
                </div>

                <div class="row mb-3">
                    <label  class="col-sm-2 col-form-label">시 간</label>
                    <div class="reservation_date col-sm-10">
                        <select class="form-select" id="time" name="time">

                        </select>
                    </div>
                </div>

            </form>
        </div>

        <!-- input 한 값들을 count >0 인 것들만 form 내부로 집어넣는다??? -->
                <div th:each="menu : ${menuList}" class="reservation_menu_list ">

                    <div th:id="${menu.id}" class="menu_box " >
                        <!-- count 가 0 이상일 때 → id 전달 -->
                        <input type="hidden" class="menu_id" th:value="${menu.id}" th:attr="data-menu-id=${menu.id}">
                        <input type="hidden" class="menu_name" th:value="${menu.name}" th:attr="data-menu-name=${menu.name}">
                        <input type="hidden" class="menu_price" th:value="${menu.price}" th:attr="data-menu-price=${menu.price}">

                        <div class="ordermenu_info">
                            <div class="menu_name_price">
                                <span th:text="|${menu.name} ${menu.price}원|">이름 가격</span>
<!--                                <input type="hidden" class="menu_price" th:attr="data-menu-price=${menu.price}">-->
                            </div >
                            <span th:text="${menu.intro}">intro</span>
                        </div>

                        <div class="ordermenu_count">
                            <input  name=""  type="number" class="menu_count form-control" min="0" max="8" value="0" ><!--count 전달 -->
                        </div>
                    </div>
                </div>

        <hr class="my-2">

        <div class="container px-4 text-center mt-4">
                <div id ="reservation_submit " class="row gx-5">
                    <div class="col d-grid">
                            <button type ="button" id="reservation_submit_btn" class="btn btn-primary btn-lg" >확인</button>
                    </div>
                    <div class="col d-grid">
                        <button  class=" btn btn-secondary btn-lg"  th:onclick="|location.href='@{/}'|">취소</button>
                    </div>
                </div>
        </div>




    </div>
</div>

</body>

<script>
    let now_utc = Date.now() // 지금 날짜를 밀리초로
    // getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
    let timeOff = new Date().getTimezoneOffset() * 60000; // 분단위를 밀리초로 변환
    let today = new Date(now_utc - timeOff).toISOString().split("T")[0];
    // 현재 날짜에 오프셋을 적용하고, 7일 후의 날짜를 계산하여 ISO 형식으로 변환하고, 날짜 부분만 가져옴
    let maxDate = new Date(now_utc - timeOff + 14 * 24 * 60 * 60 * 1000).toISOString().split("T")[0];
    document.getElementById("date").setAttribute("min", today);
    document.getElementById("date").setAttribute("max", maxDate);
</script>
<script >

    $("#reservation_submit_btn").on("click", function(){

        // let reservationForm = new Object();

        //  기본 입력값들 넣어줌
        let number = $("#number").val();
        let date = $("#date").val();
        let time = $("#time").val();
        // if (number ===""){
        //     alert(" 인원수를 입력해주세요");
        //     return;
        // }
        if (date === "" || time === "") {
            alert("날짜를 선택해주세요.");
            return;
        } else if (time === "") {
            alert("시간을 선택해주세요.");
            return;
        }

        let totalMenuCount = 0;
        let orderCount = 0
        $(".reservation_menu_list").each(function () {

            let menuId = $(this).find(".menu_id").attr("data-menu-id");
            let menuName = $(this).find(".menu_name").attr("data-menu-name");
            let menuPrice = $(this).find(".menu_price").attr("data-menu-price");
            let menuCount = $(this).find(".menu_count").val();

            if (menuCount > 0) {
                let inputId = document.createElement('input');
                inputId.setAttribute("type", "hidden");
                inputId.setAttribute("name", "orderMenuList["+orderCount+"].menuId");
                inputId.setAttribute("value", ""+menuId+"");

                let inputCount = document.createElement('input');
                inputCount.setAttribute("type", "hidden");
                inputCount.setAttribute("name", "orderMenuList["+orderCount+"].count");
                inputCount.setAttribute("value", ""+menuCount+"");

                let inputName = document.createElement('input');
                inputName.setAttribute("type", "hidden");
                inputName.setAttribute("name", "orderMenuList["+orderCount+"].name");
                inputName.setAttribute("value", ""+menuName+"");


                let inputPrice = document.createElement('input');
                inputPrice.setAttribute("type", "hidden");
                inputPrice.setAttribute("name", "orderMenuList["+orderCount+"].orderPrice");
                inputPrice.setAttribute("value", ""+menuPrice+"");

                $(".advanceForm").append(inputId)
                $(".advanceForm").append(inputCount)
                $(".advanceForm").append(inputName)
                $(".advanceForm").append(inputPrice)

                totalMenuCount += parseInt(menuCount);
                orderCount+=1;
            }

        });

        if (totalMenuCount < number) {
            alert("인원수 만큼 주문 하셔야합니다");
            return;
        }
        $(".advanceForm").submit();
    });

</script>

<script>

    $(document).ready(function() {

        $('#time').prop('disabled', true);

        $('#date').change(function () {
            let selectedDate = $(this).val(); // 선택된 날짜 값 가져오기
            $('#time').prop('disabled', false);

            // AJAX 요청 보내기
            $.ajax({
                type: 'GET',
                url: '/api/reservation/'+selectedDate+"/time",
                success: function (result) {
                    let resultArray = result.data;

                    $('#time').empty();

                    for(let i = 0; i < resultArray.length; i++) {
                        let item = resultArray[i];
                        let time = item.time;
                        let check = item.check;

                        let option = $('<option>').val(time);
                        if (check === 1) {
                            option.attr('disabled', 'disabled').text(time+' - 예약 완료');

                        }else{
                            option.text(time)
                        }

                        $('#time').append(option);
                    }
                },
                error: function (result) {

                }

            });
        });
    });

</script>

</html>