* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
.wrap{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(93, 86, 78);
    min-height: 750px;
}

.mypage{
    margin-top: 80px;
    margin-bottom: 100px;
    width: 45%;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


table {
    margin: 20px 20px;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
}

table thead th {
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    color: rgb(93, 86, 78);
    border-bottom: 3px solid rgb(72, 42, 7);
}
table tbody th {
    width: 150px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table td {
    width: 350px;
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table caption{
    padding: 10px;
    font-weight: bold;
}