html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;

}

hr {
    width: 80%
}

a {
    text-decoration: none;
    color: black;
}

.main_site {
    margin-top: 79px;
    width: 100vw;
    height: 85vh;
    background-image: url("../img/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.navbar_menu {
    /* margin-left: 180px; */
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.navbar_menu li {
    padding: 8px 30px;
}

.navbar_menu li:hover {
    background-color: #e0cda2;
    transition: 0.9s;
    border-radius: 4px;
}

.navbar_member {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 13px;
}

.navbar_member li:hover {
    background-color: #e0cda2;
    transition: 0.9s;
    border-radius: 4px;
}

.navbar_member li {
    padding: 8px 12px;
}

.himember {
    font-family: 'Nanum Gothic', sans-serif;
}

.main_img_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.content {
    list-style: none;
}

.content li {
    min-height: 700px;
    padding-top: 50px;
    text-align: center;
    background-color: white;
    color: black;
    /* height: 400px;     */
}

.text_center {
    font-size: 30px;
}

#About_content {
    /* height: 600px; */
    /* background-color: aqua; */
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: 1fr 1fr 1fr;
}

.About_header img {
    padding: 30px 0;
}

.About_header h4 {
    font-size: 20px;
}

.About_header p {
    font-family: 'Nanum Gothic', sans-serif;
}

#menu_content {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'Nanum Gothic', sans-serif;
}

.Reservation_header {
    font-family: 'Merriweather', serif;
}

#reservation_content{
    /* background-color: aqua; */
    height: 500px;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
}
#reservation_content div{
    
    position: absolute;
    top: 20%;
    left: 32%;
    /* transform: translate(-0%, -50%); */

}

/*#maintext {*/
/*  color: gray;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-0%, -50%);*/
/*}*/
#reservation_content button {
    width: 70%;
    height: 50px;
    border: 0;
    outline: none;
    margin-top: 30px;
    border-radius: 10px;
    background: #e0cda2;
    color: white;
    font-size: 1.2em;
    font-family: 'Nanum Gothic', sans-serif;
}

.team_icon {
    display: inline-block;
    float: left;
    padding: 0 5px;
    margin-top: 100px;
}

.dish_icon {
    display: inline-block;
    padding: 0 5px;
    margin-top: 100px;
}

.food_icon {
    display: inline-block;
    float: right;
    padding: 0 5px;
    margin-top: 100px;
}

.steak {
    display: inline-block;
    float: left;
    padding-left: 150px;
    padding-top: 100px;
}

.pasta {
    display: inline-block;
    float: right;
    padding-right: 150px;
    padding-top: 100px;
}

.salad {
    float: left;
    padding-left: 150px;
    padding-top: 100px;
}

.tart {
    display: inline-block;
    float: right;
    padding-right: 150px;
    padding-top: 100px;
}

footer {
    height: 120px;
    background-color: #e0cda2;
}

footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 12px;
}

.footer_icon {
    text-align: center;
}

.footer_icon img {
    padding: 5px 5px;
}