<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base/myPageBase :: layout(~{::title},~{::section})}"
      th="http://www.thymeleaf.org">

<head >
    <meta charset="UTF-8" >
    <title>myPageHome</title><!-- common_header 로 들어감-->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">--> <!-- common_header 로 들어감-->
    <!--<link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">-->

</head>
<body>
<h2>myPagePage</h2>
<header>

</header>
<section>
    <p>메인 페이지 컨텐츠</p>
    <div>메인페이지 포함 내용</div>
</section>

</body>
</html>