.wrap {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.reservation {
    margin: 20px 0;
}
/*#number{*/
/*    width: 30px;*/
/*}*/
.menu_box {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.ordermenu_info{
    flex-grow: 3;
    width: 100px;
}
.ordermenu_count {
    flex-grow: 1;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


}

/*.menu_count{*/
/*    width: 30px;*/
/*}*/

/*.reservation_number,.reservation_date,.reservation_time,.reservation_menu_list{*/
/*    margin: 20px;*/
/*}*/