<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base/myPageBase :: layout(~{::title},~{::link},~{::div})}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Static Navigation - SB Admin</title>
    <link href="/css/template/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!-- 옮길 css 파일-->
    <link rel="stylesheet" th:href="@{/css/mypage/reservationList.css}">
    <link rel="stylesheet" th:href="@{/css/reservation/advanceReservation.css}">
</head>

<body>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4" th:text="|취소/노쇼|">안녕하세요. </h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">나의 예약</a></li>
                    <li class="breadcrumb-item active">Static Navigation</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="mb-0">
                            <code>card mb-4 </code>
                            <code> card-body</code>
                            <code>mb-0</code>
                        <div></div>
                        bookingController :
                        <code>/booking/history/noshow</code>
                        <div></div>
                        bookingApiController
                        <code>/booking/noshow/list</code>

                        </p>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        <span th:text="|총 n개|"></span>

                    </div>
                    <div class="card-body">
                        <div id ="list-body" class="card-body">

                        </div>
                    </div>
                </div>
                <div style="height: 100vh"></div>
                <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>

        <!--스크립트-->
        <script>
            $(document).ready(function(){
                showList();
            })

            // <!-- 목록을 가져오는  -->
            let showList =function(){
                $.ajax({

                    type: 'GET',

                    url: '/booking/noshow/list',


                    success: function (result) {
                        //  .html : 이전내용을 지우고 새로운 내용을 넣는다.
                        $("#list-body").html(toHtml(result["data"]));
                    },

                    error: function (result) {

                        console.log(result.body);

                    }

                });

            }

            let toHtml = function (results){
                let tmp ="";
                results.forEach(function(dto){

                    tmp += '<div class="list-box" data-reservation-id="' + dto.id + '">';
                    tmp+= '<div class="box-area">';
                    tmp+= ' <div class="restaurant-img"><span class="restaurant-img-inner"><i class="fa fa-user-circle" aria-hidden="true"></i></span></div>';
                    tmp+= '<div class="info-area"><div class="restaurant-name">식당이름</div>';
                    tmp+= '<div class="category"><span>카테고리 [ '+dto.status+' ]</span></div>';
                    tmp+= '<div class="reservation-info" data-reservation-date="'+dto.date+'" data-reservation-time="'+dto.time+'" data-reservation-number="'+dto.number+'">'
                    tmp+= '<span>'+dto.date+' (요일) '+dto.time+' '+dto.number+' 명</span></div>';
                    tmp+= '<div class="reservation-info-bottom">';


                    tmp+='</div></div></div></div><br>';

                })
                return tmp;
            };
        </script>
    </div>

</body>
</html>