<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base/myPageBase :: layout(~{::title},~{::link},~{::div})}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BookingAdvance</title>

    <!-- 옮길 css 파일 -->
    <link rel="stylesheet" th:href="@{/css/mypage/reservationList.css}">

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
<!--    <section>-->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4" th:text="|사전 예약 목록 확인 |">안녕하세요. </h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">대쉬보드</a></li>
                        <li class="breadcrumb-item active">Static Navigation</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                            .
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            <span th:text="|총 n개|"></span>
                        </div>
                        <div id ="list-body" class="card-body">
<!--                            <div th:each="list : ${bookingList}" class="booking-list">-->

<!--                                <div class="list-box">-->
<!--                                    <div class="box-area" >-->

<!--                                        <div class="restaurant-img">-->
<!--                                            <span class="restaurant-img-inner">-->
<!--                                                <i class="fa fa-user-circle" aria-hidden="true"></i>-->
<!--                                            </span>-->
<!--                                        </div>-->

<!--                                        <div class="info-area">-->
<!--                                            <div class="restaurant-name">식당이름</div>-->
<!--                                            <div class="category">-->
<!--                                                 <span th:text="|카테고리  [ 예약종류 ]|">카테고리 예약 종류 </span>-->
<!--                                            </div>-->
<!--                                            <div class="reservation-info">-->
<!--                                                 <span th:text="|${list.date} (요일) ${list.time} ${list.number} 명 |">이름 날짜</span>-->
<!--                                            </div>-->
<!--                                            <div class="reservation-info-bottom">-->
<!--                                                <span class="up_date" th:text="|[ 예약일시 ] |">예약 일시</span>-->
<!--                                                &lt;!&ndash; <a href="#" class="btn-write" data-cno="1" data-bno="1070" data-pcno="">답글쓰기</a> &ndash;&gt;-->
<!--                                                <a href="#" class="btn-info" th:attr="data-reservation-id=${list.id}"  >주문 내역</a>-->
<!--                                                <a href="#" class="btn-modify" th:attr="data-reservation-id=${list.id}" >예약 수정</a>-->
<!--                                                <a href="#" class="btn-delete" th:attr="data-reservation-id=${list.id}" >예약 취소</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <br>-->

<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!--modal-->
            <div id="modalWin" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>
                    <h2> | 주문 내역</h2>
                    <div id="modal-body">
                        <div class="modal-body-top"></div>
                        <div class="modal-body-content">
                            <!--주문 메뉴를 가지고 와야하는것-->
                            <!--<li>1</li>-->
                            <!--<li>2</li>-->
                            <!--<li>3</li>-->
                        </div>
                        <div id="modal-body-bottom">
<!--                            총 합계:-->
                        </div>
                    </div>
                    </p>
                </div>


        </div>
            <!--스크립트-->
            <script>
                $(document).ready(function(){
                    showList();
                })

                // <!-- 목록을 가져오는  -->
                let showList =function(){
                    $.ajax({

                        type: 'GET',

                        url: '/booking/list',


                        success: function (result) {
                            //  .html : 이전내용을 지우고 새로운 내용을 넣는다.
                            $("#list-body").html(toHtml(result["data"]));
                        },

                        error: function (result) {

                            console.log(result.body);

                        }

                    });

                }

                let toHtml = function (results){
                    let tmp ="";
                    results.forEach(function(dto){

                    tmp += '<div class="list-box">';
                    tmp+= '<div class="box-area">';
                    tmp+= ' <div class="restaurant-img"><span class="restaurant-img-inner"><i class="fa fa-user-circle" aria-hidden="true"></i></span></div>';
                    tmp+= '<div class="info-area"><div class="restaurant-name">식당이름</div>';
                    tmp+= '<div class="category"><span>카테고리 [ '+dto.status+' ]</span></div>';
                    tmp+='<div class="reservation-info"><span>'+dto.date+' (요일) '+dto.time+' '+dto.number+' 명</span></div>';
                    tmp+= '<div class="reservation-info-bottom">';
                    tmp+='<span >'+dto.modifiedDate+' </span>';

                        tmp += '<a href="#" class="btn-info" data-reservation-id="' + dto.id + '">주문내역</a>';
                        tmp += '<a href="#" class="btn-modify" data-reservation-id="' + dto.id + '">예약 수정</a>';
                        tmp += '<a href="#" class="btn-delete" data-reservation-id="' + dto.id + '">예약 취소</a>';
                    tmp+='</div></div></div></div><br>';

                    })
                    return tmp;
                };
            </script>
            <script>

                <!-- 삭제 -->
                // $("a.btn-delete").click(function (e) {
                $("#list-body").on("click",".btn-delete",function(){
                    let rid = $(this).attr("data-reservation-id");
                    if(confirm("예약 취소하시겠습니까?")) {
                        $.ajax({

                            type: 'DELETE',

                            url: '/booking/' + rid + '/delete',


                            success: function (result) {
                                showList();
                            },

                            error: function (result) {

                                console.log(result.body);
                            }
                        });
                    }
                });

                <!-- modal 주문 내역 확인  -->
                // $("a.btn-info").click(function (e) {
                $("#list-body").on("click",".btn-info",function(){
                    // let rid = $(this).attr("data-reservation-id");
                    let rid = $(this).attr("data-reservation-id");
                    // alert(rid);

                    $.ajax({

                        type: 'GET',

                        url: '/booking/' + rid + '/orderMenuList',


                        success: function (result) {
                            $('.modal-body-content').empty();
                            let ul = $('<ul/>').addClass('orderMenuUl');
                            // result : js 객체
                            result["data"].forEach(function (item) {

                                let id = item.menuId.toString();
                                let itemName = item.name;
                                let totalPrice = item.totalPrice.toString();
                                let itemCount = item.count.toString();

                                let li = $('<li/>').addClass('orderMenuLi');
                                li.text(itemName + ' : ' + itemCount + ' 개');
                                li.attr('value', id);
                                ul.append(li);

                                $('.modal-body-content').append(ul);
                            });

                            $('.modal-body-bottom').empty();
                            let sum = result["sum"].toString();
                            let sumText = '총 합계 : ' + sum + '원';
                            $('#modal-body-bottom').text(sumText);
                        },

                        error: function (result) {

                            console.log(result.body);

                        }
                    });

                    $("#modalWin").css("display", "block");
                });

                <!-- 모달창 끄기 -->
                $(".close").click(function () {
                    $("#modalWin").css("display", "none");
                });



            </script>

</div>
<!--    </section>-->
<!--script-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>
